{% extends 'layout.twig' %}

{% block title %}
Page non trouvé
{% endblock %}

{% block content %}

  <!-- Main Content -->
      <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper animated zoomIn" style="padding: 0;">
          <!-- Subpages -->
          <div class="subpages">          

            <section class="pt-page" >
              <div class="border-block-top-110"></div>
                <div class="section-inner">
                                 
                  <figure style="text-align:center;vertical-align: middle;margin-top:10%;">
        				    <img src="/tom/public/images/404.gif"alt="404 page non trouvée">
        				    <br><br>
        				    <figcaption><h1><a href="/tom/">Retour à l'accueil</a></h1></figcaption>
        				</figure>

                </div>
            </section>
        
          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->

{% endblock %}
