{% extends 'layout.twig' %}

{% block title %}À propos{% endblock %}

{% block content %}

<!-- About Me Subpage -->
            <section class="pt-page pt-page-2 mCustomScrollbar" data-id="about_me">

              <div class="border-block-top-110"></div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper clearfix">
                    <h2 class="section-title">À propos de moi</h2>
                    <!--<h5 class="section-description">Artist, Thinker, Creative Doer</h5>-->
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                    <div class="my-photo-block" data-tilt>
                      <img src="public/images/main_photo.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-4">
                    <h3>Je suis Développeur web Freelance</h3>
                    <p>Développeur Web freelance basé à Troyes, lacinia augue. Aenean arcu libero, facilisis et nisi non, tempus faucibus tortor. Mauris vel nulla aliquam, pellentesque enim ac, faucibus tortor. Nulla odio nibh, cursus sit amet urna id, dignissim euismod augue.</p>
                    <p>Duis sollicitudin, libero porttitor rutrum ultrices, turpis lorem fermentum justo, quis ornare augue tortor non est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                    <ul class="info-list">
                      <!--<li><span class="title">Age</span><span class="value">29</span></li>-->
                      <li><span class="title">Residence</span><span class="value">Australia</span></li>
                      <li><span class="title">Address</span><span class="value">88 Some Street, Some Town</span></li>
                      <li><span class="title">e-mail</span><span class="value"><a href="mailto:email@example.com">email@example.com</a></span></li>
                      <li><span class="title">Phone</span><span class="value">+0123 123 456 789</span></li>
                      <li><span class="title">Freelance</span><span class="value available">Available</span></li>
                    </ul>

                    <ul class="social-links">
                      <li><a class="tip social-button" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li> <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
                      <li><a class="tip social-button" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="tip social-button" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                      <li><a class="tip social-button" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                      <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                  </div>
                </div>

                <!-- Services block -->
                <div class="block-title">
                  <h3>Services</h3>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-browser"></i>
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-pen"></i>
                        <h4>Copywriter</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-cart"></i>
                        <h4>E-Commerce</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-graph1"></i>
                        <h4>Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Services block -->

                <!-- Clients block -->
                <div class="block-title">
                  <h3>Clients</h3>
                </div>

                <div class="row">
                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="public/images/clients/client_1.png" alt="image"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="public/images/clients/client_2.png" alt="image"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="public/images/clients/client_3.png" alt="image"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="public/images/clients/client_4.png" alt="image"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="public/images/clients/client_5.png" alt="image"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="public/images/clients/client_6.png" alt="image"></a>
                    </div>
                  </div>
                </div>
                <!-- End of Clients block -->

                <div class="row">
                  <div class="col-sm-12 col-md-12 subpage-block">
                    <div class="block-title">
                      <h3>Testimonials</h3>
                    </div>
                    <div class="testimonials owl-carousel">
                      <!-- Testimonial 1 -->
                      <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Phasellus eu nunc tincidunt, ultricies elit vitae, pretium eros. Sed sed ipsum sed massa."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="public/images/testimonials/testimonial_photo_1.jpg" alt="">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">Maria Richardson</p>
                            <p class="testimonial-firm">Lindsley's Lumber</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div>
                      <!-- End of Testimonial 1 -->

                      <!-- Testimonial 2 -->
                      <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Vivamus porta dapibus tristique. Suspendisse et arcu eget nisi convallis eleifend nec ac lorem."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="public/images/testimonials/testimonial_photo_2.jpg" alt="">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">John Doe</p>
                            <p class="testimonial-firm">Apple Inc.</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div>
                      <!-- End of Testimonial 2 -->

                      <!-- Testimonial 3 -->
                      <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Aliquam congue auctor lectus sed fermentum. Nulla ultricies tellus quis sapien lacinia egestas."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="public/images/testimonials/testimonial_photo_3.jpg" alt="">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">George McQueen</p>
                            <p class="testimonial-firm">Harmony House</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div>
                      <!-- End of Testimonial 3 -->
                    </div>
                  </div>
                </div>

                <!-- Fun facts block -->
                <div class="block-title">
                  <h3>Fun Facts</h3>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-3 subpage-block">
                    <div class="fun-fact-block gray-bg tilt-effect">
                      <i class="pe-7s-icon pe-7s-smile"></i>
                      <h4>Happy Clients</h4>
                      <span class="fun-value">1,024</span>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                    <div class="fun-fact-block">
                      <i class="pe-7s-icon pe-7s-alarm"></i>
                      <h4>Working Hours</h4>
                      <span class="fun-value">6,256</span>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                    <div class="fun-fact-block gray-bg">
                      <i class="pe-7s-icon pe-7s-medal"></i>
                      <h4>Awards Won</h4>
                      <span class="fun-value">21</span>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                    <div class="fun-fact-block">
                      <i class="pe-7s-icon pe-7s-coffee"></i>
                      <h4>Coffee Consumed</h4>
                      <span class="fun-value">20,000</span>
                    </div>
                  </div>
                </div>
                <!-- End of Fun fucts block -->
              </div>
            </section>
            <!-- End of About Me Subpage -->

{% endblock %}
          

           