{% extends 'layout.twig' %}

{% block title %}À propos{% endblock %}

{% block content %}

<!-- About Me Subpage -->
            <section class="pt-page pt-page-2 animated slideInUp mCustomScrollbar" data-id="about_me">

              <div class="border-block-top-110"></div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper clearfix">
                    <h2 class="section-title">À propos de moi</h2>
                    <h5 class="section-description">Passionné, logique, inventif</h5>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                    <div class="my-photo-block" data-tilt>
                      <img src="public/images/main_photo.jpg" alt="">
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-4">
                    <h3>Développeur web Freelance basé à Troyes</h3>
                    <p>Je m'appelle Tom Campion, je suis un développeur web indépendant passionné par le développement informatique.
                    Que vous ayez besoin d’un site vitrine pour présenter votre activité ou d'un site offrant plus de fonctionnalités je peux vous aider à créer votre site web sur mesure à votre image !<br>
                    Avec le souci du détail, je mets un point d’honneur à fournir un travail de qualité répondant à vos attentes.
                      Si vous souhaitez me parler d'un projet web, n'hésitez pas à me <a href="contact">contacter</a> !</p>
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                    <ul class="info-list">
                      <!--<li><span class="title">Age</span><span class="value">29</span></li>-->
                      <li><span class="title">Pays</span><span class="value">France</span></li>
                      <li><span class="title">Ville</span><span class="value">10000 Troyes</span></li>
                      <li><span class="title">e-mail</span><span class="value"><a href="tomcampion10@laposte.net">tomcampion10@laposte.net</a></span></li>
                      <li><span class="title">Téléphone</span><span class="value">06 40 40 15 63</span></li>
                    </ul>

                    <ul class="social-links">
                      <li><a class="tip social-button" target="_blank"  href="https://github.com/TomCampion"><img src="public/images/github.png"></a></li>
                      <li><a class="tip social-button" target="_blank"  href="https://www.codeur.com/-tom_campion" ><img src="public/images/codeur.jpg"></a></li>
                      <li><a class="tip social-button" target="_blank"  href="https://www.malt.fr/profile/tomcampion" ><img src="public/images/malt.jpg"></a></li>
                      <li><a class="tip social-button" target="_blank" href="https://www.linkedin.com/in/tomcampion/" title="Twitter"><img src="public/images/linkedin.png"></a></li>
                      <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
                      <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                  </div>
                </div>

                <!-- Services block -->
                <div class="block-title">
                  <h3>Services</h3>
                </div>

                <div class="row">
                  <div class="col-md-4 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-browser"></i>
                        <h4>Design personnalisé</h4>
                        <p>Votre site est conçu pour refléter votre image. Il est donc important que le design de votre site internet soit entièrement personnalisé afin de vous démarquer de vos concurrents et qu’il respecte les bonnes pratiques de l’expérience utilisateur (UX).</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 subpage-block">
                    <div class="service-block"> 
                      <div class="service-info">
                        <img src="public/images/responsive.png">
                        <h4>Adapté aux mobiles</h4>
                        <p>Aujourd'hui 50% des visiteurs d’un site y accède via leur smartphone et ce taux ne fait qu’augmenter. Le responsive design permet d’avoir un site adapté aussi bien pour les ordinateurs que pour les smartphones ou les tablettes.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <img src="public/images/webapp.png">
                        <h4>Application web</h4>
                        <p>Vous souhaitez créer plus qu'un simple site vitrine ? un site qui offre des fonctionnalités plus poussé à vos visiteurs ! Tout est possible quand on s'adresse à la bonne personne.</p>
                      </div>
                    </div>
                  </div>
                </div><!--/row-->

                <div class="row">

                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-graph1"></i>
                        <h4>Référencement optimisé</h4>
                        <p>Le référencement naturel est indispensable pour être visible sur les moteurs de recherche.
                          Chaque site web est pensé pour bénéficier d’un référencement optimisé grâce au SEO (ensemble de techniques et de règles à respecter pour augmenter la visibilité sur les moteurs de recherche).
                          Je peux également créer votre page <a href="https://www.google.com/intl/fr_fr/business/">Google My Business</a> pour optimiser votre visibilité !</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <img src="public/images/host.png">
                        <h4>Hébergement</h4>
                        <p>Le choix du nom de domaine et de l’hébergement est une étape importante de la création d’un site internet. Il s’agit d’abord de réserver le meilleur domaine approprié à votre activité. Ensuite, le choix d’une solution d’hébergement fiable sera garant de la bonne performance de votre site internet.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <img src="public/images/lock.png">
                        <h4>Sécurité</h4>
                        <p>Quel que soit votre activité ou le contenu de votre site vous pouvez être visé par des attaque de pirate informatique qui veulent utiliser le serveur qui héberge votre site Web. Protocole HTTPS, plugins de sécurité, mots de passe scriptés, protection contres les injections SQL… j’assure la sécurité de votre site dès sa création.</p>
                      </div>
                    </div>
                  </div>

                </div><!--/row-->

                <div class="row">
                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <img src="public/images/key.png">
                        <h4>Site clé en main</h4>
                        <p>L’objectif est qu’à terme, vous soyez autonome sur votre site. Dans cette optique, vous êtes formé à la prise en main de l’interface d’administration afin que vous puissiez éditer vous-même vos pages ou ajouter de nouveaux contenus. De plus, j'utilise des outils accessible à tous pour vous offrir le plus d'autonomie possible.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <img src="public/images/gear.png">
                        <h4>Maintenance</h4>
                        <p>Suivi de votre site internet, conseils et évolutions, mises à jour, corrections de bugs, sauvegardes régullières, modification de texte ou de photos… une fois votre site mis en place je ne vous laisse pas tomber.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 subpage-block">
                    <div class="service-block">
                      <div class="service-info">
                        <i class="service-icon pe-7s-icon pe-7s-pen"></i>
                        <h4>Rédaction</h4>
                        <p>Avec le design, les mots sont la matière première d’un site internet. Il convient donc d’enrichir les textes mis en ligne tout en tenant compte du confort de lecture des internautes. Bien choisir ses mots est primodial quand on veut bénéficier d'un référencement optimal !</p>
                      </div>
                    </div>
                  </div>
                </div><!--/row-->

                <!-- End of Services block -->

                <div class="row">
                  <div class="col-sm-12 col-md-12 subpage-block">
                    <div class="block-title">
                      <h3>Témoignages</h3>
                    </div>
                    <div class="testimonials owl-carousel">
                      <!-- Testimonial 1 -->
                      <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Je vous recommande fortement Tom une personne très compétent à l'écoute des exigences avec une rapidité et un professionnalisme dans son travail. Je vous le recommande"</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="public/images/testimonials/testimonial_photo_1.jpg" alt="">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">Yannis A.</p>
                            <p class="testimonial-firm">Maisonaudiocenter</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div>
                      <!-- End of Testimonial 1 -->

                      <!-- Testimonial 2 -->
                      <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"Un grand merci a TOM qui a parfaitement compris notre projet qui était de basculer notre site www.meilleursyndic.com en passant de Joomla à Wordpress. en intégrant une refonte graphique de nouvelles fonctionnalités. Tom a répondu à mes attentes à chaque étape, faisant preuve d'initiatives, et trouvant des solutions à chaque problème. Toujours disponible, ne renâclant jamais à la tache, nous avons trouvé la perle rare ! Tom mérite d'etre connu, il ira loin ! Cerise sur le gateau, ses tarifs sont tres raisonnables. Cela change de tous les beaux parleurs qui nous ont vendu du reve.... je recommande sans faute !"</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="public/images/testimonials/testimonial_photo_2.jpg" alt="">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">Florent M.</p>
                            <p class="testimonial-firm">MeilleurSyndic.com</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div>
                      <!-- End of Testimonial 2 -->

                      <!-- Testimonial 3 -->
                      <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <div class="testimonial-text">
                            <p>"En lisant la réponse de Tom à mon annonce, j'ai tout de suite su que je voulais travailler avec lui. Pourquoi ? De tous ceux qui ont répondu, Tom fût le seul à répondre à l'annonce de manière juste, en montrant qu'il répondait à un futur client en tenant compte réellement de ses attentes. Et non pas en exhibant une liste impersonnelle de compétences prêtes à être fourguées au premier venu.
                              La suite ne m'a pas contredit. Tom a une très bonne compréhension du projet, des prises d'initiative efficaces qui vont toujours dans le sens du projet. Qui serve le projet. Le tout servit par un travail rapide, efficace, et une écoute, base de toutes bonnes relations dans la prestation de service.
                              La concurrence n'a qu'à bien se tenir."</p>
                          </div>
                        </div>            
                        <!-- /Testimonial Content -->  
                        <!-- Testimonial Author -->
                        <div class="testimonial-credits">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="public/images/testimonials/testimonial_photo_3.jpg" alt="">
                          </div>              
                          <!-- /Picture -->
                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <p class="testimonial-author">Olivier W.</p>
                            <p class="testimonial-firm">IzyHealth</p>
                          </div>
                        </div>
                        <!-- /Testimonial author information -->               
                      </div>
                      <!-- End of Testimonial 3 -->
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End of About Me Subpage -->

{% endblock %}
          

           