{% extends 'layout.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

 <!-- Home Subpage -->
            <section class="pt-page pt-page-1 section-without-bg section-paddings-0 table" data-id="home">
              <div class="section-inner">
                <div class="home-page-block">
                  <h2>Tom Campion</h2>
                  <div class="type-wrap">                                    
                    <div class="item">
                      <p class="home-page-description" >Développeur 

                        <span href="" class="typewrite" data-period="2000" data-type='[ "Web", "Front End", "passionné", "Wordpress", "Back End" ]'>
                        <span class="wrap"></span>
                        </span>

                      </p>
                    </div>
               
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Home Subpage -->

{% endblock %}
          

           