{% extends 'layout.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}

 <!-- Contact Subpage -->
            <section class="pt-page pt-page-5 animated slideInUp" data-id="contact">
              <div class="border-block-top-110"></div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper">
                    <h2 class="section-title">Contact</h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-6 subpage-block">
                    <div class="block-title">
                      <h3>Demandez moi n'importe quoi</h3>
                    </div>
                    <p>Un site web à créer ?<br>
                      Une question à me poser ?<br>
                      Vous avez un projet Web que vous souhaitez réaliser ?<br>
                      Vous cherchez à travailler avec quelqu’un réactif et disponible ?<br>
                      N'hésitez pas à me contacter, je reviendrais vers vous avec plaisir !
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-map-marker"></i>
                      </div>
                      <div class="ci-text">
                        <h5>Troyes, France</h5>
                      </div>
                    </div>
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-mail"></i>
                      </div>
                      <div class="ci-text">
                        <h5>tomcampion10@laposte.net</h5>
                      </div>
                    </div>
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-call"></i>
                      </div>
                      <div class="ci-text">
                        <h5>06 40 40 15 63</h5>
                      </div>
                    </div>
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-check"></i>
                      </div>
                      <div class="ci-text">
                        <h5>Disponible</h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 subpage-block">
                    <div class="block-title">
                      <h3>Formulaire de contact</h3>
                    </div>
                    <form id="contact-form" method="post" action="">
                      <input type="hidden" name="token" value="{{ csrf_token('contact') }}"/>
                      {{ message | raw}}

                      <div class="controls">
                        <div class="form-group">
                            <input id="form_name" type="text" name="nom" class="form-control" placeholder="Nom Complet"  maxlength="90" required>
                            <div class="form-control-border"></div>
                            <i class="form-control-icon pe-7s-user"></i>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <input id="form_email" type="email" name="mail" class="form-control" maxlength="254" placeholder="Adresse mail" required >
                            <div class="form-control-border"></div>
                            <i class="form-control-icon pe-7s-mail"></i>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4" maxlength="16384" required></textarea>
                            <div class="form-control-border"></div>
                            <i class="form-control-icon pe-7s-comment"></i>
                            <div class="help-block with-errors"></div>
                        </div>

                        <input type="submit" class="button btn-send" value="Envoyer">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Contact Subpage -->

{% endblock %}
          

           