{% extends 'layout.twig' %}

{% block title %}CV{% endblock %}

{% block content %}

 <!-- Resume Subpage -->
            <section id="page-cv" class="pt-page pt-page-3 animated slideInRight mCustomScrollbar" data-id="resume">
              <div class="border-block-top-110"></div>
              <div id="section-cv" class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper">
                    <h2 class="section-title">Curriculum Vitae</h2>
                    <h5 class="section-description">Développeur fullstack</h5>
                  </div>
                </div>

                <div class="row">


                  <div class="col-sm-6 col-md-4 subpage-block">                  	
                    <div class="block-title">
                      <h3>Education</h3>
                    </div>
                    <div class="timeline">
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Mar 2019 - Aujourd'hui</h5>
                        <h4 class="event-name">Développeur d'application PHP/Symfony</h4>
                        <span class="event-description">Openclassrooms</span>
                        <p><a href="http://www.rncp.cncp.gouv.fr/grand-public/visualisationFiche?format=fr&fiche=27099" target="_blank">Titre de Niveau II inscrit au RNCP</a></p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Sep 2016 - Jui 2018</h5>
                        <h4 class="event-name">BTS SN-IR (Systèmes Numériques option Informatique et Réseaux</h4>
                        <span class="event-description">Lycée polyvalent les Lombards, Troyes</span>
                        <p>Mention Très bien</p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Sep 2014 - Jui 2016</h5>
                        <h4 class="event-name">BAC STI2D (sciences et technologies de l'industrie et du développement durable)</h4>
                        <span class="event-description">Lycée polyvalent les Lombards, Troyes</span>
                        <p>Mention Bien</p>
                      </div>
                    </div>
                  </div>



                  <div id="exp-block" class="col-sm-6 col-md-4 subpage-block">
                    <div class="block-title">
                      <h3>Experience</h3>
                    </div>
                    <div class="timeline">
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Dec 2018 - Aujourd'hui</h5>
                        <h4 class="event-name">Développeur freelance</h4>
                        <!--<span class="event-description">Web Agency</span>-->
                        <p>Création de site web vitrine ou e-commerce, de logiciel, d'application web... <a href="portfolio">Voir le portfolio </a></p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Jan 2018 - Jui 2018</h5>
                        <h4 class="event-name">Développeur C++</h4>
                        <span class="event-description">Syn'Apps.</span>
                        <p class="no-margin-bottom">Création d’une application en C++ sur un système embarqué pour la synthèse sonore. En équipe de 3 personnes, nous avons : déﬁni un cahier des charges en collaboration avec notre client, conçu une application sur un système embarqué, réalisé l'architecture et la documentation de l'application grâce à des diagrammes UML.
                        </p>
                        	                 
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Mai 2017 - Juin 2017</h5>
                        <h4 class="event-name">Technicien impression 3D</h4>
                        <span class="event-description">Laboratoire de recherche de l'UTT</span>
                        <p class="no-margin-bottom">Réparation, amélioration et programmation d'une imprimante 3D pour lui permettre d'utiliser un matériau agrosourcés à base de ﬁbres végétales inventé au sein même du laboratoire</p>
                      </div>
                    </div>
                  </div>

                  

                  <div class="col-sm-6 col-md-4 subpage-block">
                    <div class="block-title">
                      <h3>Compétences</h3>
                    </div>
                    <div class="skills-info">
                      <h4>HTML5/CSS3</h4>                               
                      <div id="skill-1" percent="0.97" class="skill-container">
                        <div></div>
                      </div>

                      <h4>PHP</h4>
                      <div id="skill-2" percent="0.94" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Symfony</h4>
                      <div id="skill-3" percent="0.1" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Javascript</h4>
                      <div id="skill-4" percent="0.75" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Wordpress</h4>
                      <div id="skill-5" percent="0.9" class="skill-container">
                        <div></div>
                      </div>

                      <h4>SQL</h4>
                      <div id="skill-6" percent="0.9" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Java SE</h4>
                      <div id="skill-7" percent="0.77" class="skill-container">
                        <div></div>
                      </div>

                      <h4>GIT</h4>
                      <div id="skill-8" percent="0.85" class="skill-container">
                        <div></div>
                      </div>

                      <h4>UML</h4>
                      <div id="skill-9" percent="0.83" class="skill-container">
                        <div></div>
                      </div>

                    </div>

                    <div class="block-title">
                      <h3>Langues</h3>
                    </div>
                    <div class="skills-info">
                      <h4>Anglais</h4>                               
                      <div id="skill-10" percent="0.72" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Espagnol</h4>
                      <div id="skill-11" percent="0.2" class="skill-container">
                        <div></div>
                      </div>

                    </div>
                  </div>
                </div>
              
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="download-cv-block">
                      <a class="button" target="_blank" href="#">Download CV</a>
                    </div>
                  </div>
                </div>
           	
              </div>
            </section>
            <!-- End Resume Subpage -->

{% endblock %}
          

           