<!DOCTYPE html>
<html lang="fr" class="no-js">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Tom Campion | Développeur web" />
    <meta name="author" content="Tom Campion" />
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="public/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="public/css/jquery.mCustomScrollbar.min.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" />
    <!--
    <link rel="stylesheet" href="public/css/normalize.css" type="text/css" />
    
    <link rel="stylesheet" href="public/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="public/css/transition-animations.css" type="text/css" />
    <link rel="stylesheet" href="public/css/owl.carousel.css" type="text/css" />
    <link rel="stylesheet" href="public/css/magnific-popup.css" type="text/css" />
     -->
    <link rel="stylesheet" href="public/css/main.css" type="text/css" />
     
  <script src="/blog/public/js/jquery-2.1.3.min.js"></script>
  <!--<script src="public/js/modernizr.custom.js"></script>-->

  <body>

    <div id="page" class="page">
      <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide header-color-light">
        <div class="my-photo tilt-effect">
          <img src="public/images/main_photo.jpg" alt="image">
        </div>

        <div class="site-title-block">
          <h1 class="site-title">Tom Campion</h1>
        </div>

        <!-- Navigation -->
        <div class="site-nav">
          <!-- Main menu -->
          <ul id="nav" class="site-main-menu">
            <li>
              <a class="pt-trigger" href="accueil" data-animation="21"><i class="menu-icon pe-7s-icon pe-7s-home"></i>Home</a><!-- href value = data-id without # of .pt-page. -->
            </li>
            <li>
              <a class="pt-trigger" href="a_propos" data-animation="17"><i class="menu-icon pe-7s-icon pe-7s-user"></i>About me</a>
            </li>
            <li>
              <a class="pt-trigger" href="cv" data-animation="18"><i class="menu-icon pe-7s-icon pe-7s-id"></i>Resume</a>
            </li>
            <li>
              <a class="pt-trigger" href="portfolio" data-animation="19"><i class="menu-icon pe-7s-icon pe-7s-portfolio"></i>Portfolio</a>
            </li>
            <li>
              <a class="pt-trigger" href="contact" data-animation="20"><i class="menu-icon pe-7s-icon pe-7s-mail"></i>Contact</a>
            </li>
            <li>
              <a class="pt-trigger" href="blog" data-animation="17"><i class="menu-icon pe-7s-icon pe-7s-news-paper"></i>Blog</a>
            </li>
            <li>
              <a class="pt-trigger" href="connexion" data-animation="17"><i class="menu-icon pe-7s-icon pe-7s-door-lock"></i>Connexion</a>
            </li>
          </ul>
          <!-- /Main menu -->
        </div>
        <!-- Navigation -->
      </header>
      <!-- /Header -->

      <!-- Mobile Header -->
      <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
          <div class="mobile-site-title">Tom Campion</div>
        </div>

        <a class="menu-toggle mobile-visible">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!-- /Mobile Header -->

      <!-- Main Content -->
      <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper" style="background-image: url(public/images/main_bg_light.jpg);">
          <!-- Subpages -->
          <div class="subpages">

             {% block content %}{% endblock %}

          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
 
</div>

    <script src="public/js/bootstrap.min.js"></script>

    <script src="public/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="public/js/tilt.jquery.min.js"></script>

    <script src="public/js/Progressbar.min.js"></script>

    <script src="public/js/typewriter.js"></script>
    <!--<script src="public/js/Progressbar.min.js"></script> -->   
  
    <!--    
    <script src="public/js/owl.carousel.min.js"></script>

    <script src="public/js/pages-switcher.js"></script>!
    <script src="public/js/imagesloaded.pkgd.min.js"></script>
     
    <script src="public/js/validator.js"></script>
    <script src="public/js/jquery.shuffle.min.js"></script>

    <script src="public/js/masonry.pkgd.min.js"></script>
    <script src="public/js/jquery.hoverdir.js"></script>
    
    <script src="public/js/jquery.magnific-popup.min.js"></script>-
    <script src="public/js/main.js"></script>
    -->
  
  </body>
</html>
