{% extends 'layout.twig' %}

{% block title %}Portfolio{% endblock %}

{% block content %}

 <!-- Portfolio Subpage -->
            <section class="pt-page pt-page-4 animated slideInLeft" data-id="portfolio">
              <div class="border-block-top-110"></div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper">
                    <h2 class="section-title">Portfolio</h2>
                    <h5 class="section-description">Mes réalisations</h5>
                  </div>
                </div>

                <!-- Portfolio Content -->
                <div class="portfolio-content">
 

                  <!-- Portfolio Grid -->
                  <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                    <!-- Portfolio Item 1 -->
                    <figure class="item" data-groups='["all", "media"]'>
                      <a href="meilleursyndic">
                        <img src="public/images/portfolio/meilleursyndic.png" alt="">
                        <div>
                          <h5 class="name">MeilleurSyndic.com</h5>
                          <i class="pe-7s-icon pe-7s-display2"></i>
                        </div>
                      </a>
                    </figure>
                    <!-- /Portfolio Item 1 -->

                    <!-- Portfolio Item 2 -->
                    <figure class="item" data-groups='["all", "media"]'>
                      <a href="maisonaudiocenter">
                        <img src="public/images/portfolio/mac.png" alt="">
                        <div>
                          <h5 class="name">MaisonAudioCenter.com</h5>
                          <i class="pe-7s-icon pe-7s-display2"></i>
                        </div>
                      </a>
                    </figure>
                    <!-- /Portfolio Item 2 -->

                    <!-- Portfolio Item 3 -->
                    <figure class="item" data-groups='["all", "media"]'>
                      <a href="izyhealth">
                        <img src="public/images/portfolio/izyhealth.png" alt="">
                        <div>
                          <h5 class="name">IZYhealth.com</h5>
                          <i class="pe-7s-icon pe-7s-display2"></i>
                        </div>
                      </a>
                    </figure>
                    <!-- /Portfolio Item 3 -->

                    <!-- Portfolio Item 4 -->
                    <figure class="item" data-groups='["all", "media"]'>
                      <a href="dblleroux">
                        <img src="public/images/portfolio/dblleroux.png" alt="">
                        <div>
                          <h5 class="name">DBLleroux.com</h5>
                          <i class="pe-7s-icon pe-7s-display2"></i>
                        </div>
                      </a>
                    </figure>
                    <!-- /Portfolio Item 4 -->

                    <!-- Portfolio Item 5 -->
                    <figure class="item" data-groups='["all", "media"]'>
                      <a href="immobilier">
                        <img src="public/images/portfolio/immo.png" alt="">
                        <div>
                          <h5 class="name">Site immobilier</h5>
                          <i class="pe-7s-icon pe-7s-display2"></i>
                        </div>
                      </a>
                    </figure>
                    <!-- /Portfolio Item 5 -->

                  </div>
                  <!-- /Portfolio Grid -->

                </div>
                <!-- /Portfolio Content -->
              </div>
            </section>
            <!-- /Portfolio Subpage -->

{% endblock %}
          

           