{% extends 'layout.twig' %}

{% block title %}DBLleroux.com{% endblock %}

{% block content %}
<div id="ajax-page" class="ajax-page-content animated slideInDown">
    <div class="ajax-page-wrapper">
        <div class="ajax-page-nav">

            <div class="nav-item ajax-page-close-button">
                <a id="ajax-page-close-button" href="portfolio"><i class="pe-7s-icon pe-7s-close"></i></a>
            </div>
        </div>
        <div class="border-block-top-110"></div>
        <div class="ajax-page-title">
            <h1>DBLleroux.com</h1>
        </div>

        <div class="row">
            <div class="col-sm-7 col-md-7 portfolio-block">

                <div class="portfolio-page-carousel">
                    <div class="item">
                        <img src="public/images/portfolio/dblleroux.png" alt="">
                    </div>
                </div>

                <script type="text/javascript">
                    function customAjaxScroll() {
                        var windowWidth = $(window).width();
                        if (windowWidth > 991) {
                            // Custom Ajax Page Scroll
                            $("#ajax-page").mCustomScrollbar({
                                scrollInertia: 8,
                                documentTouchScroll: false,
                                
                            });
                        } else {
                            $("#ajax-page").mCustomScrollbar('destroy');
                        }
                    }

                    jQuery(document).ready(function($){

                        // Ajax Loaded Page Scroll
                        customAjaxScroll();

                    });

                    jQuery(window).on('resize', function() {
                        customAjaxScroll();
                    });
                </script>

            </div>

            <div class="col-sm-5 col-md-5 portfolio-block">
                <!-- Project Description -->
                <div class="block-title">
                    <h3>Description</h3>
                </div>
                <ul class="project-general-info">
                    <li><p><i class="fa fa-user"></i> Tom Campion</p></li>
                    <li><p><i class="fa fa-globe"></i> <a href="https://www.dblleroux.com/" target="_blank">DBLleroux.com</a></p></li>
                    <li><p><i class="fa fa-calendar"></i> 10 Février 2019</p></li>
                </ul>

                <p class="text-justify">DBLleroux.com est un site vitrine pour un technicien travaillant dans de nombreux domaines: plomberie, vitrerie, chauffage, assasinissement, serrurerie, électricité</p>
                <!-- /Project Description -->

                <!-- Technology -->
                <div class="tags-block">
                    <div class="block-title">
                        <h3>Technologies</h3>
                    </div>
                    <ul class="tags">
                        <li><a>Wix</a></li>
                        <li><a>HTML5</a></li>
                        <li><a>CSS3</a></li>
                    </ul>
                </div>
                <!-- /Technology -->

            </div>
        </div>
    </div>
</div>
{% endblock %}