<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Tom Campion | Développeur web" />
    <meta name="author" content="Tom Campion" />
    <link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="/Blog/public/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" />

    <link rel="stylesheet" href="/Blog/public/css/admin.css">

    <script src="/Blog/public/js/jquery-2.1.3.min.js"></script>

<body>

<body>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="/blog/accueil" >Blog Tom Campion</a></h3>
            <strong>TC</strong>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="/blog/users">
                    <i class="fas fa-users"></i>
                    Users
                </a>
            </li>
            <li>
                <a href="/blog/posts">
                    <i class="fas fa-clipboard-list"></i>
                    Posts
                </a>
            </li>
            <li>
                <a href="/blog/comments">
                    <i class="fas fa-comments"></i>
                    Comments
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content Holder -->
    <div class="col-lg-12 col-md-12 mx-auto" id="content">

        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="fas fa-align-left"></i>
            <span>Masquer Sidebar</span>
        </button>

        {% block content %}{% endblock %}

    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</div>

<script src="/Blog/public/js/bootstrap.min.js"></script>

</body>
</html>