{% extends 'layout.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

     <!-- Resume Subpage -->
            <section class="pt-page pt-page-3" data-id="resume">
              <div class="border-block-top-110"></div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper">
                    <h2 class="section-title">Connexion</h2>
                  </div>
                </div>

               
              </div>
            </section>
            <!-- End Resume Subpage -->

{% endblock %}
          

           