{% extends 'layout.twig' %}

{% block title %}CV{% endblock %}

{% block content %}

 <!-- Resume Subpage -->
            <section class="pt-page pt-page-3" data-id="resume">
              <div class="border-block-top-110"></div>
              <div class="section-inner">
                <div class="section-title-block">
                  <div class="section-title-wrapper">
                    <h2 class="section-title">Resume</h2>
                    <h5 class="section-description">6 Years of Experience</h5>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-md-4 subpage-block">
                    <div class="block-title">
                      <h3>Education</h3>
                    </div>
                    <div class="timeline">
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">2010</h5>
                        <h4 class="event-name">Specialization Course</h4>
                        <span class="event-description">University of Studies</span>
                        <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">2009</h5>
                        <h4 class="event-name">Specialization Course</h4>
                        <span class="event-description">University of Studies</span>
                        <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">2008</h5>
                        <h4 class="event-name">Specialization Course</h4>
                        <span class="event-description">University of Studies</span>
                        <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-4 subpage-block">
                    <div class="block-title">
                      <h3>Experience</h3>
                    </div>
                    <div class="timeline">
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Dec 2012 - Current</h5>
                        <h4 class="event-name">Frontend-developer</h4>
                        <span class="event-description">Web Agency</span>
                        <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Dec 2011 - Nov 2012</h5>
                        <h4 class="event-name">Web Designer</h4>
                        <span class="event-description">Apple Inc.</span>
                        <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                      </div>
                      <!-- Single event -->
                      <div class="timeline-event te-primary">
                        <h5 class="event-date">Jan 2010 - Dec 2011</h5>
                        <h4 class="event-name">Graphic Designer</h4>
                        <span class="event-description">Web Agency</span>
                        <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-4 subpage-block">
                    <div class="block-title">
                      <h3>Design Skills</h3>
                    </div>
                    <div class="skills-info">
                      <h4>Web Design</h4>                               
                      <div id="skill-1" percent="0.9" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Graphic Design</h4>
                      <div id="skill-2" percent="0.8" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Print Design</h4>
                      <div id="skill-3" percent="0.7" class="skill-container">
                        <div></div>
                      </div>
                    </div>

                    <div class="block-title">
                      <h3>Coding Skills</h3>
                    </div>
                    <div class="skills-info">
                      <h4>HML5</h4>                               
                      <div id="skill-4" percent="0.6" class="skill-container">
                        <div></div>
                      </div>

                      <h4>CSS3</h4>
                      <div id="skill-5" percent="0.5" class="skill-container">
                        <div></div>
                      </div>

                      <h4>jQuery</h4>
                      <div id="skill-6" percent="0.4" class="skill-container">
                        <div></div>
                      </div>

                      <h4>Wordpress</h4>
                      <div id="skill-7" percent="0.3" class="skill-container">
                        <div></div>
                      </div>

                      <h4>PHP</h4>
                      <div id="skill-8" percent="0.2" class="skill-container">
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="download-cv-block">
                      <a class="button" target="_blank" href="#">Download CV</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Resume Subpage -->

{% endblock %}
          

           